.App {
  text-align: center;
}



.navlink{
  color: black;
  border: 2px solid black;
  padding: 5px 10px 5px 10px;
  margin: 0 25px 25px 25px; 
  border-radius: 5px;
  font-size: 1.5rem;
  background: rgb(0, 187, 250);
}

.navlink:hover{
  color: white;
}

nav{
  display: flex;
  justify-content: center;
}
/* HALO.JS */

/* .Halo_Rank_Container{
  background: lightblue;
} */

/* .Ranks{
  display:flex;
  border: 2px solid red;
} */

/* HALO RANK.JS */

.names{
  /* display: flex; */
  /* flex-direction: column; */
  border: 2px solid black;
}


.Banner{
  /* display: flex; */
  width: 200px;
  height: auto; 
  border: 2px solid black;
}
.Tier{
  /* display: flex;
  flex-direction: column; */
  width: 100px;
  height: auto;
  border: 2px solid black;
}

/* HOME PAGE - react logo */

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}