
#imagg {
    height: 256px;
    width: 256px;
    border: 2px solid black;
    }

#demo {
    height: 25px;
    width: 25px;
    border: 2px solid red;
    }



#gameScreen {
    border: 2px solid black;
    }
