.App {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
  
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}

.homebox{
  height: 675px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('../api-halo5.jpg');
     /* rgba(0, 0, 0, 0.507), */
}

@media only screen and (max-width: 500px) {
  .homebox{
    height: 675px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../api-halo5.jpg');
     
  }
}

.text{
  padding-top: 50px;
  background: 5px;
}

@media only screen and (max-width: 500px) {
  .text{
    padding: 30px;
    background: 5px;
  }

}

.textwhite{
  color: white;
}





/*/////////////////////////////////////////////////*/
/*///////  HALO RANK  ////////////////////////////*/
/*///////////////////////////////////////////////*/

/* .Halo_Rank_Container{
  background: lightblue;
} */

/* .Ranks{
  display: flex;
  margin-bottom: 5px;
  border: 2px solid red;
} */


/*///////////////////////////////////////////*/
/*///////  INPUT SEARCH FORM   ////////////*/
/*/////////////////////////////////////////*/

.search-form{
  margin: 25px 0 25px 0;
}
.input{
  padding: 5px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}