.App {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
  
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}

/*/////////////////////////////////////////////////*/
/*///////  HALO RANK  ////////////////////////////*/
/*///////////////////////////////////////////////*/

/* .Halo_Rank_Container{
  background: lightblue;
} */

/* .Ranks{
  display: flex;
  margin-bottom: 5px;
  border: 2px solid red;
} */

/*///////////////////////////////////////////*/
/*///////  HALO RANK CARD //////////////////*/
/*/////////////////////////////////////////*/


h2{
  padding-right: 12px;
}

/* .Banner{
  width: 75px;
  height: auto; 
  border: 2px solid black;
} */


.TierHolder{
  display: flex;
  justify-content: center;

}

.Tier{
  /* display: flex; */
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 75px;
  /* height: auto; */
  border: 2px solid black;
  margin: 4px;
  background: white;
}


/*///////////////////////////////////////////*/
/*///////  INPUT SEARCH FORM   ////////////*/
/*/////////////////////////////////////////*/

.search-form{
  margin: 25px 0 25px 0;
}
.input{
  padding: 5px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}