.imag1{
    object-Position: 0px 0px;
    height: 128px;
    width: 128px;  
    border: 2px solid black;    
}

.imag2{
    object-Position: -128px 0px;
    height: 128px;
    width: 128px;  
    border: 2px solid black;    
}
.imagdefault{
    height: 256px;
    width: 256px;  
    border: 2px solid black;    
}


#gameScreen {
    border: 2px solid black;
}

/* .textwhite{
    color: white;
} */
.textgold{
    color: rgb(204, 133, 0);
}